<div class="container text-center">
    <div class="alert-box">
        <h1>Estimado usuario, el correo que intenta registrar ya está en uso. Por favor, pruebe a iniciar sesión.</h1>
        <a href="/login" class="btn btn-warning">Iniciar sesión</a>
    </div>
</div>