
<div class="container text-center">
    <div class="alert-box">
        <h1>Estimado usuario porfavor inicie sesión, para poder tener acceso a la cuenta</h1>
        <a href="/Login" class="btn btn-warning">Iniciar sesión</a>
    </div>
</div>