<div class="blurred-background">
    <div class="overlay"></div>
</div>
<div class="container">
    <h1><i class="fas fa-home custom-house"></i>rrien2 Chile</h1>
    <h5>Descubre las mejores cabañas para arrendar en las zonas más hermosas de Chile. Relájate y disfruta de la naturaleza con todas las comodidades.</h5>
    <a href="/Login" class="btn btn-primary">Iniciar sesión</a>
    <a href="/Registro" class="btn btn-secondary">Registrarse</a>
    <a href="/Perfil" class="btn btn-secondary">Perfil</a>
    <a href="/Inicio" class="btn btn-success">Explorar cabañas</a>
</div>